<div class="jumbotron center">
  <h1><%= @group %></h1>

  <p>
    <strong>URL:</strong>
    <%= @group.url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @group.description %>
  </p>

  <%= link_to 'Edit', edit_group_path(@group.slug) %> |
  <%= link_to 'Back', groups_path %>
</div>